extends ../layout

block content
	h1 Cadastro de Contato
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
		br
	form(method="POST", action="/contatos/create/#{id}", role="form")
		div(class="form-group")
			label Tipo de telefone
			select(class="form-control", name="contatos[tipo]")
				option(value="Residencial") Residencial
				option(value="Comercial") Comercial
				option(value="Celular") Celular
				option(value="Orelhão") Orelhão
		div(class="form-group")
			label Telefone
			input(type="text", class="form-control", name="contatos[telefone]", value="#{model.telefone || ''}" placeholder="Telefone")
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/contatos/#{id}") Voltar

block scripts
	script(src="/js/jquery.mask.min.js")
	script(type="text/javascript").
		$(function(){
			$('input[name="contatos[telefone]"]').mask('(00) 0000-0000');
		});