ul(class="nav nav-justified")
	li(class="active")
		a(href="/home") Home
	li
		a(href="/amigos") Amigos
	li
		a(href="/usuarios") Usuários
	li
		a(href="/email") Entrar em contato
	li
		a(href="/logout") #{session.email} [sair]