extends ../layout

block content
	div(class="jumbotron")
		h1 Desafio Node.js
		p(class="lead") 
			| Crie um aplicativo backend que exporá uma API RESTful de criação de sing up/sign in.
			|Todos os endpoints devem somente aceitar e somente enviar JSONs. O servidor deverá retornar JSON para os casos de endpoint não encontrado também.
			|O aplicativo deverá persistir os dados (ver detalhes em requisitos).