extends ../layout

block content
	div(class="jumbotron")
		h1 Curso de Node.js Acadtec
		p(class="lead") 
			| Faça do conforto de sua casa todos os cursos da Academia da
			| Tecnologia, cursos que possui a qualidade que você já conhece.			
		p
			a(href="http://acadtec.com.br/site/" target="_blank" class="btn btn-lg btn-success") Acessar o site 