extends ../layout

block content
	form(method="POST", action="/", class="form-login")
		h3 Entrar no Sistema
		p Preencha os campos necessários para acessar.

		if messages.erro
			br
			div(class="alert alert-danger")
				each msg in messages.erro
					b= msg
					br
		div(class="form-group")
			label E-mail
			input(type="email", class="form-control", placeholder="E-mail", name="email", autofocus, required)
		div(class="form-group")
			label Senha
			input(type="password", class="form-control", placeholder="Senha", name="password", required)
		button(type="submit", class="btn btn-primary btn-block") Entrar